*
body{
    background-color: rgb(20, 237, 193);
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}
h1{
    text-align: center;
    font-family: Ubuntu;
    color: rgb(245, 230, 20);
}
label{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(244, 250, 250);
    
}
textarea{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(244, 250, 250);
}
#remove{
    width:20;
    margin:10px;
}
#enter{
    width:20;
    margin:10px
}