*
body{
    background-color: rgb(16, 102, 93);
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}
h1{
    text-align: center;
    font-family: Ubuntu;
    color: rgb(189, 224, 122);
}
label{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(244, 250, 250);
    
}